@model Blog

@{
	ViewData["Title"] = "BlogAdd";
	Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}
<h1>Blog Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("BlogAdd", "WriterBlog", FormMethod.Post))
{
	@Html.ValidationMessageFor(x => x.BlogTitle)
	<br />
	@Html.Label("Blog Başlığı")
	@Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })

	<br />

	@Html.ValidationMessageFor(x => x.BlogImage)
	<br />
	@Html.Label("Blog Görseli")
	@Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })

	<br />

	@Html.Label("Blog Küçük Görsel")
	@Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control" })
	<br />

	@Html.Label(" Kategori")
	@* 	@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" }) *@
	 @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" }) 


	<br />

	@Html.ValidationMessageFor(x => x.BlogContent)
	<br />
	@Html.Label("Blog İçeriği")
	@Html.TextAreaFor(x => x.BlogContent, 8, 2, new { @class = "form-control" })

	<br />
	<button class="btn btn-info">Kaydet</button>
}

